<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.theshipper.www.shipper_owner">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />
    <!-- GOOGLE CLOUD MESSAGING -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="in.co.theshipper.www.shipper_owner.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.co.theshipper.www.shipper_customer.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- CALL PHONE -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- READ CONTATCS -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- GOOGLE MAP AND TRACKING -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/shipper_square_app_logo"
        android:label="SHIPPER_OWNER">
        <activity android:name="in.co.theshipper.www.shipper_owner.FlashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.co.theshipper.www.shipper_owner.MainActivity"
            android:label="@string/title_registration_page"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity
            android:name="in.co.theshipper.www.shipper_owner.OtpVerification"
            android:label="@string/title_activity_otp_verification"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="in.co.theshipper.www.shipper_owner.EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="in.co.theshipper.www.shipper_owner.FullActivity"
            android:label="@string/title_activity_full"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" >

        </activity>
       <!-- <activity
            android:name=".TestActivity"
            android:theme="@style/MyAppTheme" />-->
        <service
            android:name="in.co.theshipper.www.shipper_owner.GpsTracker"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="in.co.theshipper.www.shipper_owner.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name="in.co.theshipper.www.shipper_owner.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.co.theshipper.www.shipper_customer" />
            </intent-filter>
        </receiver>

        <!-- Google Maps Fragment API Key Data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>
